services:

  backend:
    image: node:18-alpine
    container_name: food-backend
    
    user: "1000:1000"
    
    ports:
      - 3000:3000
      
    volumes:
      - ./backend:/app
      
    environment:
      - NODE_ENV=development
      - TZ=Europe/Paris
      - PUID=1000
      - PGID=1000
      
    working_dir: /app
    command: sh -c "echo 'Le Backend est en attente...' && sleep infinity"
    
    restart: unless-stopped

  frontend:
    image: nginx:1.25-alpine
    container_name: food-frontend
    
    ports:
      - 8080:80
      
    volumes:
      - ./frontend:/usr/share/nginx/html
      
    environment:
      - TZ=Europe/Paris
      
    restart: unless-stopped