version: '3.8'

services:
  backend:
    build: ./backend
    container_name: food-backend
    ports:
      - "3000:3000"
    restart: always
    environment:
      - NODE_ENV=production
    # INDISPENSABLE POUR LA VITESSE :
    dns:
      - 8.8.8.8
      - 1.1.1.1

  frontend:
    build: ./frontend
    container_name: food-frontend
    ports:
      - "8080:80"
    restart: always