version: '3.8'

services:
  frontend:
    build: ./frontend
    container_name: food-frontend
    restart: always
    expose:
      - "80"

  backend:
    build: ./backend
    container_name: food-backend
    restart: always
    environment:
      - NODE_ENV=production
      - DB_HOST=mongo
    dns:
      - 8.8.8.8
      - 1.1.1.1
    expose:
      - "3000"

  mongo:
    image: mongo:6.0
    container_name: food-db
    restart: always
    volumes:
      - ./data/db:/data/db

  mongo-express:
    image: mongo-express:latest
    container_name: food-admin
    restart: always
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=pass
      - ME_CONFIG_SITE_BASEURL=/admin
    expose:
      - "8081"

  caddy:
    image: caddy:latest
    container_name: food-proxy
    restart: always
    ports:
      - "80:80" 
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - frontend
      - backend
      - mongo-express

  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: food-tunnel
    restart: always
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=METTRE_TON_TOKEN_ICI

volumes:
  caddy_data:
  caddy_config: